@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #111;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  margin: 2rem auto;
  width: 35rem;
  background: white;
  border: 2px black solid;
}

.tagline {
  letter-spacing: 0.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
  padding: 1.25rem;
  margin: 0.25rem auto;
  width: 25rem;
  border: 2px black solid;
}